/* topbar **************** */
.topbar_link {
  text-decoration: none;
  background-color: #2306a3bb;
  color: white;
  padding: 12px 25px 12px 25px;
  border: rgba(0, 128, 0, 0.349) solid 2px;
  border-radius: 5px;
  margin: 15px;
  box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
  font-size: 18px;
  transition: all 0.2s;
}
.topbar_link:hover {
  background-color: transparent;
  color: rgb(0, 0, 0);
}
/* sidebar *********** */
.sidebar {
  padding: 20px;
  height: 80vh;
  width: 20%;
  border-right: 1px solid rgb(190, 145, 145);
  display: flex;
  flex-direction: column;
}
.sid_link {
  align-items: center;
  display: flex;
  width: 70%;
  text-decoration: none;
  color: black;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 15% 5px 30px;
  margin-top:15px ;
  
}
.sid_link:hover {
  color: rgb(255, 255, 255); 
  background-color: rgba(0, 0, 255, 0.568);
  box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;


}
.table_div {
  width: 80%;
}
.table {
  border-collapse: collapse;
  width: 95%;
  margin: 30px 30px;
}
tr:nth-child(even){
  background: #f1f7f8;
}
.th {
  text-align: center;
  margin: 0px;
  border: 1px solid black;
  padding: 5px 10px;
  color: white;
  background-color: rgb(20, 173, 115);
}
.td {
  text-align: center;
  padding: 5px 10px;
  border: 1px solid black;
  margin: 0px;
  border-collapse: collapse;
  

}
.action{
  display: flex;
  justify-content: center;
}
.icon{
  cursor:pointer;
  margin-left: 15px;

  
}
.deleat_icon{
  color: rgb(230, 47, 47);
}
.eadit_icon{
  color: rgb(20, 172, 20);
}
.user_icon{
  margin-right: 15px;
}

